#update-location {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.select-block + .input-block,
.input-block + .select-block {
  margin-top: 1.4rem;
}

.location-input {
  margin-top: 1.4rem;
}

.location-input p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.submit-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 3.4rem;
}

.submit-button {
  width: 90vw;
  align-self: center;
  color: var(--color-button-text);
  background-color: var(--color-primary);
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  font-weight: 500;
  box-shadow: 0.2rem 0.2rem 0.05rem var(--color-button-shadow);
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--color-primary-dark);
}

.submit-button:focus {
  outline: none;
}

.submit-button:active {
  margin: 0.15rem 0 0 0.15rem;
  box-shadow: 0.05rem 0.05rem 0.05rem var(--color-button-shadow);
}

.survivor-key {
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  #update-location {
    width: 50vw;
  }

  .submit-button {
    max-width: 25rem;
  }
}